/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

*‌  {
  font-family: 'Vazirmatn', sans-serif !important;
}

.font-semibold {
  font-family: 'Vazirmatn', sans-serif !important;
}

@layer base {
  p, h1, h2, h3, h4, h5 {
    color: rgba(0, 0, 0, .8);
    font-family: 'Vazirmatn', sans-serif;
  }
}

.Toastify__progress-bar--default {
  background: #89bdf9 !important;
}